.collapse.show {
    display: block !important;
}
.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item>.nav-link.active {
    margin-right: .5rem;
    margin-left: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: .375rem;
    background: #eba502;
}